@import "variables";
//Fonts
$font-family-sans-serif: $open-sans, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//Border Radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;