// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$fa-font-path : '~font-awesome/fonts';

// Brand Primary Colors
$b4m-green: #00664F;
$b4m-heater: #F5F5F5;
$b4m-yellow: #FED141;

// Brand Secondary Colors
$b4m-black: #000000;
$b4m-pewter: #53565A;
$b4m-kiwi-green: #78BE20;
$b4m-green-light: #257B68;

// Brand Other Colors
$b4m-moss: #658D1B;
$b4m-matrix: #78BE20;
$b4m-old-orange: #FBB04C;
$b4m-grass: #D3DF44;
$b4m-sky: #6DC9C9;
$b4m-wine: #722257;