@import "../../../sass/variables";
@import "../../../sass/mixins";

.bid-card {
    background-color: $b4m-yellow;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    height: 200px;
    width: 200px;

    &.revealed {
        background-color: $b4m-heater;
    }

    .face, .back, .full-details {
        height: 100%;
        padding: 20px;
        position: relative;
        width: 100%;
    }

    .close-card, .face {
        color: $b4m-black;
        z-index: 1;
    }

    .close-card {
        position: absolute;
        line-height: 1;
        right: 7px;
        top: 5px;
    }

    .face {
        display: inline-block;
        position: relative;

        &:hover, &:focus {
            text-decoration: none;
            box-shadow: 0 2px 3px 0 #909090;
        }

        h4 {
            @include linesLimit(58px, 2);
        }
    }

    .back {
        p {
            font-size: 16px;
            @include linesLimit(48px, 2);
        }
        .current-bid {
            font-weight: bold;
            color: $b4m-green;
            position: absolute;
            left: 50%;
            top: 50%;
            padding: 5px;
            @include translate(-50%, -50%);
        }
        .bid-controllers {
            position: absolute;
            bottom: 0;
            left: 50%;
            @include translate(-50%, 0)
        }
    }

    .full-details {

    }
}