<div class="journey-board">
  <div class="panel-header">
    <span class="iata-code">{{name.split(' ')[1].split('-')[0]}}</span>
    <i class="fa fa-plane"></i>
    <span class="iata-code">{{name.split(' ')[1].split('-')[1]}}</span>
    <a href="#" class="" data-toggle="collapse" [attr.data-target]="'#collapse-' + index"
            aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="collapse" id="collapse-{{index}}">
      <div class="card card-body">
        <div *ngFor="let meal of mealOptions">
          {{meal.desc}}
        </div>
      </div>
      <button class="btn btn-sm btn-primary">Close Offers</button>
    </div>
  </div>
</div>