<div class="journey-board">
  <div class="panel-header">
    <div class="journey-indicators">
      <span class="iata-code">{{journeyData.key.split(' ')[1].split('-')[0]}}</span>
      <i class="fa fa-plane"></i>
      <span class="iata-code">{{journeyData.key.split(' ')[1].split('-')[1]}}</span>
      <div class="panel-navigator" *ngIf="!collapsed">
        <a href="#" class="btn" (click)="showMealOptions = true; false"><i class="fa fa-coffee"></i></a>
        <a href="#" class="btn" (click)="showMealOptions = false; false"><i class="fa fa-clock-o"></i></a>
      </div>
    </div>
    <a href="#" class="panel-switch" data-toggle="collapse" [attr.data-target]="'#collapse-' + index"
       aria-expanded="false" aria-controls="collapseExample" (click)="collapsed = !collapsed">
      <i class="fa" aria-hidden="true" [ngClass]="collapsed ? 'fa-chevron-down': 'fa-chevron-up'"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="collapse" id="collapse-{{index}}">
      <div class="meal-options" [ngClass]="showMealOptions ? '': 'd-none'">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let meal of mealOptions">
            <app-bid-card (bidded)="disableBidCards()" [disabledCard]="disableCard"
                          [journeyKey]="journeyData.key" [mealId]="meal.mealId" [description]="meal.desc"
                          [minPrice]="meal.priceRange.min" [maxPrice]="meal.priceRange.max"
                          [bidJump]="meal.priceRange.jump" [currency]="meal.currency">
            </app-bid-card>
          </div>
        </div>
      </div>
      <div class="journey-details" [ngClass]="showMealOptions ? 'd-none': ''">
        <div class="flight-status-card">
          <P><span>Key: {{journeyData.key}}</span></P>
          <P><span>Flight Number: {{journeyData.flight}}</span></P>
          <P><span>Departure: {{journeyData.departureDate}}</span></P>
          <P><span>Arrival: {{journeyData.arrivalDate}}</span></P>
        </div>
      </div>
    </div>
  </div>
</div>